.toolDots {
  position: absolute;
  top: 62px;
  right: 15px;
  width: 28px;
  height: 28px;
  fill: #01b4e4;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.toolBar {
  position: absolute;
  z-index: 11;
  height: 255px;
  right: 0;
  top: 100px;
  width: 250px;
  padding: 30px;
  background: #01b4e4;
  transition: ease-in-out 0.25s;
  border-radius: 5px;

  h3 {
    margin: 0;
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
  }
}

.toolBarWrapper {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
