.btn {
  display: flex;
  margin: 0 20px;
  align-items: center;

  p {
    margin-right: 10px;
    font-size: 19px;
    font-weight: 600;
    color: #4dbad4;
  }

  input {
    display: none;
  }

  svg {
    width: 31px;
    cursor: pointer;
  }

  .moon {
    path {
      fill: #4dbad4;
    }
  }
  .sun {
    path {
      fill: #e4dac8;
    }
  }
}
